<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Title</title>
</head>
<body>

  <p> A little info about our post!
    <br>
    Title: <%= post.title%>
    <br>
    Blog: <%= post.blog%>
  </p>

<a href="/posts">Go home</a>

</body>
</html>